/* palettes de couleur: bleu: #00AEEF rose: #ED028C jaune: #FFF101 
bleu:#2E3092            rouge:#EE1D23 vert: #00A54F  gris: #363539 
noir:# 231F20             pourpre cramoisi: #5A449C
*/


html {
    font-family: 'Abel';
    font-size: 18px;
    background-color: aliceblue;
}

p::first-letter,
h3::first-letter {
    font-size: 1.5rem;
    font-family: 'Great Vibes', cursive;
    color: #00AEEF
}

p,
ul {
    font-family: 'Abel';
    font-size: 18px;
    text-align: left;

}
                                  
p,                                                                     
h1 {                                                                     
    display: flex;                                                                     
    flex-direction: column;                                                                     
    justify-content: center;                                                                     
                                  
}                                                                     
                                  
.titreArticle {                                                                     
    margin: 10px;                                                                     
}                                                                     
                                  
                                  
.text-box {
    padding-left: 15px;
    
    border-radius: 5px;                                         
    background-color: #7357c7;                                                                     
    padding: 2px;                                                                     
    color: white;                                                                     
    width: 75%;                                                                     
}                                                                     
                                  
.text-box>p, .text-box>ul>li{                                                                     
text-align: justify;
}                                                                     
                                  
img {                                                                     
    margin: 10px                                                                     
}                                                                     

.navRouters>li {
     float: left;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;

}

.navRouters>li:hover{
    background-color: #00c25e;
}



ul {
    list-style: none;
}